@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// GLOABL
body {

    @include media-breakpoint-up(md) {
        font-size: $font-size-lg;
    }
}

// FONTS 
$wildFont: 'Rock Salt', cursive;
$farmFont: 'Henny Penny', cursive;
$wingFont: 'Great Vibes', cursive;

// COLORS

// basic - welcome
$welcomeDarkGreen: #385A64;
$welcomeDarkGreen--hover: #385a64da;
$welcomeOrange: #FF735C;
$welcomeWhiteOverlay: rgba(255, 255, 255, 0.7);

// wild
$darkGreen: rgba(45, 93, 94, 0.9);
$mediumGreen: rgba(36, 160, 139, 0.9);
$lightGreen: rgba(190, 234, 214, 0.9);
$lightGreen--hover: rgb(190, 234, 214);
$green--btn: rgb(45, 93, 94);
$orange: rgb(255, 165, 10);
$orange--hover: rgba(255, 165, 10, 0.8);
$light-yellow: #FFEEC2;

// farm 
$darkOrange: rgba(233, 145, 50, 0.95);
$meidumOrange: rgba(243, 174, 93, 0.95);
$lightOrange: rgba(255, 224, 175, 0.95);
$lightOrange--hover: rgb(255, 224, 175);
$orange--btn: rgb(233, 145, 50);
$brown: rgb(187, 98, 70);
$brown--hover: rgba(187, 98, 70, 0.8);
$light-green: #C7CA44;

//wing
$darkBlue: rgba(0, 83, 159, 0.9);
$mediumBlue: rgba(84, 189, 221, 0.9);
$lightBlue: rgba(210, 239, 253, 0.9);
$lightBlue--hover: rgb(210, 239, 253);
$blue--btn: rgb(0, 83, 159);
$pink: rgb(255, 141, 187);
$pink--hover: rgba(255, 141, 187, 0.8);
$light-pink: #FFCCC2;


// CHECK IF NEEDED OR NOT :)
.welcome__default {
    background-color: rgb(208, 136, 29);
}