@use '../custom';

.machine {
    background-repeat: no-repeat;
    background-position: 50% 50%;

    // BACKGROUND IMAGE - DRUM MACHINE SCREEN

    &--wild {
        background-image: url('./../images/wild_bg.png');
        background-size: 130% 130%;

        @media screen and (orientation: landscape) {
            background-image: url('./../images/wild_bg_rotate.png');
            background-size: 110% 130%;
        }
    }

    &--farm {
        background-image: url('./../images/farm_bg.jpg');
        background-size: 110% 140%;

        @media screen and (orientation: landscape) {
            background-image: url('./../images/farm_bg_rotate.jpg');
            background-size: 110% 110%;
        }
    }

    &--wing {
        background-image: url('./../images/birds_bg.jpg');
        background-size: 140% 130%;

        @media screen and (orientation: landscape) {
            background-image: url('./../images/birds_bg_rotate.jpg');
            background-size: 120% 130%;
        }
    }

    // DRUM PADS AND CONTROLS CONTAINER - DRUM MACHINE SCREEN

    &__container {

        @include custom.media-breakpoint-up(md) {
            width: 75%;
        }

        @media screen and (orientation: landscape) {
            width: 90%;
        }

        @include custom.media-breakpoint-up(lg) {
            width: 80%;
        }
    }

    // HEADINGS - DRUM MACHINE SCREEN

    &__subheading {

        @include custom.media-breakpoint-up(md) {
            font-size: custom.$h1-font-size;
        }
    }

    &__title {
        font-size: 3rem;

        @include custom.media-breakpoint-up(md) {
            font-size: 4.5rem;
        }

        &--wild {
            font-family: custom.$wildFont;
        }
    
        &--farm {
            font-family: custom.$farmFont;
        }
    
        &--wing {
            font-family: custom.$wingFont;
        }

        del {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.2rem;
            display: block;

            @include custom.media-breakpoint-up(md) {
                font-size: 1.5rem;
            }
        }

        ins {
            margin-bottom: -1rem;

            @include custom.media-breakpoint-up(md) {
                margin-bottom: -1.7rem;
            }
        }

    }

    // MACHINE CONTROLS - DRUM MACHINE SCREEN

    &__controls {

        font-size: 1rem;

        @include custom.media-breakpoint-up(md) {
            height: 2rem;
        }

        @include custom.media-breakpoint-up(lg) {
            height: 3rem;
        }

        @media screen and (orientation: landscape) {
            height: 2.5rem;
        }

        &--wild {
            background-color: custom.$light-yellow;
        }

        &--farm {
            background-color: custom.$light-green;
        }

        &--wing {
            background-color: custom.$light-pink;
        }

        &--hover {
            border: 1px solid black !important;
            width: 30%;

            @include custom.media-breakpoint-up(md) {
                width: 15%;
            }
        }

        button {
            border: none;
            border-radius: 20%;
        }

        button:nth-child(1) span {
            width: 0.7rem;
            height: 0.7rem;
            background-color: red;
            display: inline-block;
            border-radius: 50%;
        }

        button:nth-child(2) span {
            display: inline-block;
            height: 0.7rem;
            width: 0.7rem;
            background-color: black;
        }

        button:nth-child(3) span {
            display: inline-block;
            width: 0.15rem;
            height: 1rem;
            margin: 0 0.3rem;
        }

        button:nth-child(3) span::after {
            content: "";
            position: absolute;
            height: 1rem;
            width: 0.15rem;
            background-color: black;
            transform: rotate(45deg);
        }

        button:nth-child(3) span::before {
            content: "";
            position: absolute;
            height: 1rem;
            width: 0.15rem;
            background-color: black;
            transform: rotate(-45deg);
        }

        button:nth-child(4) span {
            border-left: 0.6rem solid black;
            border-top: 0.4rem solid transparent;
            border-bottom: 0.4rem solid transparent;
            display: inline-block;
        }

        button:nth-child(5) span {
            width: 0.2rem;
            height: 0.7rem;
            background-color: black;
            display: inline-block;
        }

        button:nth-child(5) span:nth-child(1) {
            margin-right: -0.2rem;
        }
    }

    // CURRENTLY PLAYED SOUND DISPLAY - DRUM MACHINE SCREEN

    &__display {
        border-radius: 50%;
        border-style: solid;
        border-width: 0.5rem;

        @include custom.media-breakpoint-up(lg) {
            border-width: 0.7rem;
        }

        @media screen and (orientation: landscape) {
            margin-top: -0.6rem;
        }

        &--wild {
            border-color: custom.$light-yellow;
        }
        
        &--farm {
            border-color: custom.$light-green;
        }
        
        &--wing {
            border-color: custom.$light-pink;
        }
    }

    // RECORDED SOUNDS LIST - DRUM MACHINE SCREEN

    &__sounds-list {

        font-size: 0.8rem;
        padding-left: 1.5rem;

        @include custom.media-breakpoint-up(sm) {
            font-size: initial;
            padding: auto;
        }

        li {
            width: 45%;

            @include custom.media-breakpoint-up(lg) {
                width: 32%;
            }
        }
    }

    // PADS AND PANEL DIMENSIONS AND BORDER - DRUM MACHINE SCREEN

    &__pads, &__panel {
        border: 1px solid rgba(black, 0.6);
        height: 50%;

        @media screen and (orientation: landscape) {
            width: 50%;
            height: auto;
        }
    }

    // BACK HOME BUTTON - DRUM MACHINE SCREEN

    &__home {
        width: 3rem;
        height: 3rem;
        top: 2%;
        left: 98%;
        transform: translate(-98%, -2%);
        border: 1px solid rgba(black, 0.6);

        @include custom.media-breakpoint-up(md) {
            width: 4rem;
            height: 4rem;
        }

        &--wild {
            background-color: custom.$darkGreen;
        }

        &--farm {
            background-color: custom.$darkOrange;
        }

        &--wing {
            background-color: custom.$darkBlue;
        }
    }

    // DRUM PADS CONTAINER AND ROW CONTAINER - DRUM MACHINE SCREEN

    &__pads-box {
        flex-direction: column;
        max-height: 75%;
        flex-grow: 1;


        @media screen and (orientation: landscape) {
            flex-direction: row;
            max-height: 60%;
        }
    }

    &__pads-row {
        max-height: 4rem;
    }

}

// INDIVIDUAL DRUM PAD - DRUM MACHINE SCREEN

.drum-pad {
    border: none;
    border-radius: 11px 15px 9px 17px;
    color: white;

    @include custom.media-breakpoint-up(md) {
        border-radius: 21px 25px 19px 27px;
    }
 

    &--wild {
        background-color: custom.$darkGreen;
    }
    
    &--farm {
        background-color: custom.$darkOrange;
    }
    
    &--wing {
        background-color: custom.$darkBlue;
    }
}